.logo{ 
    color: white !important;
    font-size: x-large;
    cursor: pointer;
}
.content{
    background-color: #34568B;
    height: 100vh;
    padding-top: 15px;
}
.compareSection{
    display: flex;
    justify-content: space-around;
}
.fieldLabels{
    margin-top: 270px;
    color: white;
}
.userAvatar{
    border-radius: 200px;
    height: 200px !important;
    width: 200px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.userAvatarContainer, .emptyUser{
    display: flex;
    justify-content: center;
    align-items: center;
    clear: right;
}
.ant-image{
    width: 100%;
}
.fieldLabel{
    font-weight: bold;
}
.singleUser{
    width: 27%;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}
.emptyUser{
    height: 100%;
}
.removeLink{
    float: right;
}
.languageTag{
    margin-bottom: 10px !important;
}
.starIcon{
    color: yellowgreen !important;
}
@media screen and (max-width: 768px){
    .userAvatar{
        width: 150px !important;
        height: 150px !important;
    }
    .singleUser{
        padding-left: 20px;
        padding-right: 20px;
    }
    .fieldLabels{
        margin-top: 200px;
    }  
}
@media screen and (max-width: 576px){
    .userAvatar{
        width: 80px !important;
        height: 80px !important;
    }
    .singleUser{
        padding-left: 8px;
        padding-right: 8px;
    }
    .addUserBtn{
        padding: 2px !important;
    }
}