.homePage{
    display: flex;
}
.ant-image{
    width: 65%;
}
.backgroundImage{
    width: 100%;
    height: 100vh !important;
}
.formSection{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    border: 1px solid lightgrey;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.usernameLabel{
  font-weight: bold;
}
.notification{
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 767px){
    .homePage{
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    .form{
      padding: 40px;
    }
    .formSection{
        width: 80%;
    }
}